body {
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

@media (orientation: portrait) {
	body {
		background-image: url('bg-portrait.png');
	}
}
@media (orientation: landscape) {
	body {
		background-image: url('bg-landscape.png');
	}
}

/* -- This stuff changes things up when this style is selected -- */

*{ scrollbar-width: none }
#selector_div {
    border: none;
    background-color: transparent;
}
#canvas {
    background-image: url(https://i.imgur.com/RHaDEQu.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 2160px !important;
    border: none;
}
#control_panel_buttons, .center_field, .connection_message {
    display: none;
}