body {
	background-repeat: no-repeat;
    background-size: contain;
	background-image: url('bg-landscape.png');
}

/* -- This stuff changes things up when this style is selected -- */

*{ scrollbar-width: none }
#selector_div {
    border: none;
    background-color: transparent;
}
#canvas {
    height: 2160px !important;
    border: none;
}
#control_panel_buttons, .center_field, .connection_message {
    display: none !important;
}